LENGUAGE_DE_MARCAS/TEMA 1/PROYECTOS/TAREA 1.1/empresa.dtd

<!ELEMENT empresa (empleados) >
<!ELEMENT empleados (nombre,apellidos+,telefono,email,direccion) >

<!ELEMENT nombre (#PCDATA) >
<!ELEMENT apellidos (#PCDATA) >
<!ELEMENT telefono (#PCDATA) >
<!ELEMENT email EMPTY >

<!ELEMENT direccion (calle, numero, cp)>
<!ELEMENT calle (#PCDATA) >
<!ELEMENT numero (#PCDATA) >
<!ELEMENT cp (#PCDATA) >

<!ATTLIST email organizaciondecorreo CDATA #IMPLIED tipodecorreo CDATA #IMPLIED nombreusuario CDATA #IMPLIED>
